---
import Container from "../layouts/Container.astro";
import SubTitle from "./SubTitle.astro";
import eventsData from "../data/EventsData.json";

const columns = 2;
const columned = Array.from({ length: columns }, (_, col) =>
  eventsData.filter((_, i) => i % columns === col)
);
---

<div class="mb-[5rem] pt-16 overflow-x-hidden">
  <Container size="xl">
    <SubTitle
      title="Events I attended"
      text="Here are some of the events I attended recently."
      link="#events"
    />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        columned.map((col, colIndex) => (
          <div>
            <div class="space-y-4">
              {col.map((item, i) => (
                <a
                  href={item.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="group block rounded-lg overflow-hidden shadow hover:shadow-lg transition relative"
                >
                  <div class="relative overflow-hidden">
                    <img
                      src={item.imageUrl}
                      alt={item.name}
                      class="w-full h-auto transition-transform duration-1000 transform group-hover:scale-95"
                    />
                    {item.hoverImageUrl && (
                      <img
                        src={item.hoverImageUrl}
                        alt={item.name}
                        class="absolute top-0 left-0 w-full h-auto opacity-0 transition-all duration-1000 transform group-hover:opacity-100 group-hover:scale-105"
                      />
                    )}
                  </div>
                  <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent flex flex-col justify-end p-4 pointer-events-none">
                    <span class="text-sm text-gray-300 mb-2">
                      {new Date(item.date).toLocaleDateString("en-US", {
                        month: "short",
                        day: "numeric",
                        year: "numeric",
                      })}
                    </span>
                    <h3 class="font-bold text-2xl text-white">{item.name}</h3>
                    <p class="text-base text-gray-200">{item.description}</p>
                  </div>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</div>