---
import Container from "../layouts/Container.astro";
import NumberCounter from "./NumberCounter.tsx";
import SubTitle from "./SubTitle.astro";
import fetchStats from "../utils/FetchGitHubStats";
import CommitHistoryChart from "./CommitHistoryChart";
import fetchUserCommits from "../utils/FetchYearlyCommits";

// Dynamic stats fetching (if needed in the future)
const stats = await fetchStats("paulpietzko");

// Fetch the commit data for the last year
const commitsLastYear = await fetchUserCommits("paulpietzko");
---

<div class="pt-16">
  <Container size="xl">
    <SubTitle
      title="Alltime Stats"
      text="Here are some stats about my contributions on GitHub."
    />

    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5 text-center mb-[10rem]"
    >
      <div>
        <NumberCounter client:visible number={stats.totalCommits} />
        <p class="text-lg font-semibold">Total Commits</p>
      </div>
      <div>
        <NumberCounter client:visible number={stats.totalReviews} />
        <p class="text-lg font-semibold">Total Reviews</p>
      </div>
      <div>
        <NumberCounter client:visible number={stats.totalIssues} />
        <p class="text-lg font-semibold">Total Issues</p>
      </div>
      <div>
        <NumberCounter client:visible number={stats.totalPRs} />
        <p class="text-lg font-semibold">Total PRs</p>
      </div>
      <div>
        <NumberCounter client:visible number={stats.contributedTo} />
        <p class="text-lg font-semibold">Contributed To</p>
      </div>
    </div>

    <SubTitle
      title="My Commits over the last Year'"
      text="Here is a chart showing my commit history over the last year."
    />
    <div class="mt-8 mb-[5rem]">
      <CommitHistoryChart client:visible data={commitsLastYear} />
    </div>
  </Container>
</div>
