---
import Container from "../layouts/Container.astro";
import NumberCounter from "./NumberCounter.tsx";
import SubTitle from "./SubTitle.astro";
import processCommitData from "../utils/FetchYearlyCommits";
import fetchStats from '../utils/FetchGitHubStats';
import CommitHistoryChart from "./CommitHistoryChart";

// Dynamic stats fetching (if needed in the future)
// const stats = await fetchStats("paulpietzko");

// Use static stats data instead of dynamic fetching
const stats = {
  totalCommits: 541,
  totalReviews: 0,
  totalIssues: 0,
  totalPRs: 3,
  contributedTo: 11,
};


/* Yearly Commits per month */
// Example usage
const events = [
  {
    id: "44987043177",
    type: "PushEvent",
    created_at: "2024-12-20T16:07:14Z",
    payload: {
      size: 1,
    },
  },
  {
    id: "44882513423",
    type: "PushEvent",
    created_at: "2024-12-17T20:11:46Z",
    payload: {
      size: 1,
    },
  },
  {
    id: "44896010952",
    type: "WatchEvent",
    created_at: "2024-12-18T07:17:25Z",
    payload: {},
  },
];

const commitsLastYear = await processCommitData(events);
---

<Container size="xl">
  <SubTitle
    title="Alltime Stats"
    text="Here are some stats about my contributions on GitHub."
  />

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5 text-center">
    <div>
      <NumberCounter client:visible number={stats.totalCommits} />
      <p class="text-lg font-semibold">Total Commits</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalReviews} />
      <p class="text-lg font-semibold">Total Reviews</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalIssues} />
      <p class="text-lg font-semibold">Total Issues</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalPRs} />
      <p class="text-lg font-semibold">Total PRs</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.contributedTo} />
      <p class="text-lg font-semibold">Contributed To</p>
    </div>
  </div>

  <div class="mt-8">
    <CommitHistoryChart client:visible data={commitsLastYear} />
  </div>
</Container>
