---
import Container from "../layouts/Container.astro";
import NumberCounter from "./NumberCounter.tsx";
import SubTitle from "./SubTitle.astro";

// Uncomment the code below and add the fetchStats function if you want to fetch data dynamically
// import { fetchStats } from './GitHubStats';

// Dynamic stats fetching (if needed in the future)
// const [stats] = createResource(() => fetchStats("paulpietzko"));

// Use static stats data instead of dynamic fetching
const stats = {
  totalCommits: 541,
  totalReviews: 0,
  totalIssues: 0,
  totalPRs: 3,
  contributedTo: 11,
};
---

<Container size="xl">
  <SubTitle
    title="Alltime Stats"
    text="Here are some stats about my contributions on GitHub."
  />

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5 text-center">
    <div>
      <NumberCounter client:visible number={stats.totalCommits} />
      <p class="text-lg font-semibold">Total Commits</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalReviews} />
      <p class="text-lg font-semibold">Total Reviews</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalIssues} />
      <p class="text-lg font-semibold">Total Issues</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.totalPRs} />
      <p class="text-lg font-semibold">Total PRs</p>
    </div>
    <div>
      <NumberCounter client:visible number={stats.contributedTo} />
      <p class="text-lg font-semibold">Contributed To</p>
    </div>
  </div>
</Container>

<!-- TODO: Visual 1 Year Commit History -->