---
import skillsData from "../data/SkillsData.json";
import Container from "../layouts/Container.astro";
import SkillCard from "./SkillCard.astro";
import SubTitle from "./SubTitle.astro";

interface SkillType {
  name: string;
  description: string;
  imageUrl: string;
  bgColor: string;
  link: string;
}
---

<div class="mb-[10rem]">
  <Container size="xl">
    <div class="relative z-10" id="about">
      <SubTitle
        title="My Techstack"
        text="Here are some of the main technologies I work with."
      />
  
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        {
          skillsData.map((skill: SkillType) => (
            <SkillCard
              link={skill.link}
              name={skill.name}
              description={skill.description}
              imageUrl={skill.imageUrl}
              bgColor={skill.bgColor}
            />
          ))
        }
      </div>
    </div>
  </Container>
</div>
