---
const { bgColor, imageUrl, name, description } = Astro.props;
---

<div class="flex flex-1 gap-5 p-2.5 rounded-xl border border-dark-200 bg-dark-200 hover:bg-dark-300 hover:border-dark-700 transition-colors duration-200">
  <div class={`p-3 ${bgColor} rounded-lg w-fit`}>
    <img
      src={imageUrl}
      width={1000}
      height={1000}
      alt={`${name} logo`}
      class="size-8"
    />
  </div>
  <div>
    <h4 class="text-lg font-medium">{name}</h4>
    <p class="text-sm">
      {description}
    </p>
  </div>
</div>
